{% extends "base.html" %}
{% from "macros.html" import render_item %}
{% block title %}block title text{% endblock %}

{% block content %}
<h2>Welcome to the Home Page!</h2>
<p>Content goes here.</p>
<p>username:{{ username|capitalize }}</p>
<p>email:{{ email|capitalize }}</p>
<p>update status:{{ message|capitalize }}</p>
<br>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">ファイルアップロード</button>
</form>

{% endblock %}